body {padding:0em;margin:auto 0em;background:#222222 url('images/chalkboard.jpg') repeat;font-family: 'Open Sans', sans-serif;color:#DDDDDD;font-size:95%;}
@media only screen and (max-width: 500px) {
	body {font-size:100%;}
}

a:link{color:#FFC670;text-decoration:none;font-weight:bold;}
a:visited{color:#FFC670;text-decoration:none;font-weight:bold;}
a:active{color:#FFFFFF;text-decoration:none;font-weight:bold;}
a:hover{color:#FFFFFF;text-decoration:none;font-weight:bold;}

* {box-sizing: border-box;}

#top {text-align:left;max-width:960px;height:100%;padding:1em;margin-left:auto;margin-right:auto;}
#main {text-align:justify;line-height:1.25;}
#name {padding-top:0.5em;font-family: 'Amatic SC', cursive;font-size:330%;font-weight:bold;}
#subname {font-family: 'Open Sans Condensed', sans-serif;font-size:145%;font-weight:bold;}
#content {padding-top:0.25em;padding-bottom:1em;}

#menu {color:#FFC670;font-family: 'Open Sans Condensed', sans-serif;font-size:165%;font-weight:bold;padding-top:1em;}
#submenu {color:#FFC670;font-family: 'Open Sans Condensed', sans-serif;font-size:150%;font-weight:bold;}

.menuitem {
	cursor:pointer;
	font-weight:bold;
	padding:0.1em;
	padding-bottom:0em;
}
.tinymenuitem {
	cursor:pointer;
	font-weight:bold;
	padding:0.1em;
	padding-bottom:0em;
}

.name {font-weight:bold;color:#FFC670;}
.heading {font-family: 'Open Sans Condensed', sans-serif;font-size:165%;margin-top:1em;margin-bottom:0.5em;}

.iconSet {padding-top:0.5em;padding:bottom:0.5em;}
.icon {padding:0.1em;width:1.5em;height:1.5em;}

ul {padding-left:1.5em;margin:0em;}
li {padding:0.25em;}
.nopadding {padding:0.5em;}

.abstract {display:none;margin-left:0.2em;font-size:80%;text-align:justify;padding:0.5em;}
.absButton {color:#FFC670;font-weight:bold;cursor:pointer;}
.subheading {color:#FFC670;font-weight:bold;}
.relatedPubs {display:none;margin-left:0.2em;padding:0.5em;}

.yearBullet {float:right;width:15%;font-weight:bold;}
.bulletText {float:right;width:85%;padding-bottom:0.5em;}
@media only screen and (max-width: 500px) {
	.yearBullet {width:25%;}
	.bulletText {width:75%;}
}

.bulletHeading {font-style:italic;}
