<!DOCTYPE html>

<html lang="en">
<head>
<title>{{ site.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" TYPE="text/css" HREF="/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300|Amatic+SC:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

<script src="/main.js" type="text/javascript"></script>

</head>

<body>

<div id="top">

<div id="main">

<div id="name">Matthew J. Daigle</div>
<div id="subname">
  Artificial Intelligence, Machine Learning, &amp; Data Science
  <div class="iconSet">
  <a href="https://www.linkedin.com/in/matthewjdaigle"><img src="/images/linkedin.png" class="icon" alt="LinkedIn"></a>
  <a href="https://scholar.google.com/citations?user=H29lcbkAAAAJ&hl=en"><img src="/images/googlescholar.png" class="icon" alt="Google Scholar"></a>
  <a href="https://www.researchgate.net/profile/Matthew_Daigle"><img src="/images/researchgate.png" class="icon" alt="ResearchGate"></a>
  <a href="https://github.com/matthewjdaigle"><img src="/images/github.png" class="icon" alt="GitHub"></a>
  </div>
</div>

<div id="menu">
    <span class="menuitem">{% if page.title=='Matthew J. Daigle' %}[{% endif %}<a href="/">Home</a>{% if page.title=='Matthew J. Daigle' %}]{% endif %}</span>
    <span class="menuitem">{% if page.title=='Curriculum Vitae' %}[{% endif %}<a href="/CV">CV</a>{% if page.title=='Curriculum Vitae' %}]{% endif %}</span>
    <span class="menuitem">{% if page.title=='Publications' %}[{% endif %}<a href="/publications">Publications</a>{% if page.title=='Publications' %}]{% endif %}</span>
    <span class="menuitem">{% if page.title=='Book' %}[{% endif %}<a href="/book">Book</a>{% if page.title=='Book' %}]{% endif %}</span>
    <span class="menuitem">{% if page.title=='Software' %}[{% endif %}<a href="/software">Software</a>{% if page.title=='Software' %}]{% endif %}</span>
    <span class="menuitem"><a href="http://sporpgores.com">Art</a></span>
</div>

<div id="content">

{{ content }}

</div>
</div>
</div>
</body>
</html>
